@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Nunito", sans-serif;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.mantine-Drawer-content {
  background-color: #000 !important;
  padding: 1rem !important;
}

.mantine-Drawer-header {
  background-color: #000 !important;
  margin-bottom: 20px;
}

.mantine-Drawer-title {
  font-size: 1.125rem !important;
  font-weight: 700 !important;
}

.mantine-Drawer-body {
  display: flex;
  justify-content: space-between;
  height: 90% !important;
}

.mantine-Drawer-close {
  color: #fff !important;
}